#intro {
  background-image: url(../assets/images/Background_Intro_3.png);
  background-size: 100%;

  background-position: cover;
  background-repeat: no-repeat;
  padding-inline: 163px;
  padding-top: 120px;
  height: px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;

  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px ;
    background-color: var(--color-gray-300);
    border-radius: 999px;


  }
}

@media (min-width: 700px) {
  :root {
    background-image: url(../assets/images/Background_Contacts_3.png);
  }

  
}